/* changed image to 300px*/
.nico {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  margin: 10px;
  border: double whitesmoke;
  margin-left: auto;
  margin-right: auto;
}

/* changed font and color */
h1 {
  color: steelblue;
  font-family: Arial, Helvetica, sans-serif;
  font-style: unset;
}

/* changed color of list elements */
ol {
  color: orangered;
  margin: 0 auto;
  text-align: left;
  display: table;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: black;
  text-align: center;
}

h2 {
  color: aquamarine;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h3 {
  color: azure;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p {
  color: azure;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
