/* changed image to 300px*/
.nico {
  width: 300px;
  height: 300px;
}

/* changed font and color */
h1 {
  color: steelblue;
  font-family: Arial, Helvetica, sans-serif;
}

/* changed color of list elements */
ol {
  color: orangered;
}
